*.exe
*.dll
*.obj
*.lib
*.o
*.swp
*.swo
vs2010/molyjam/ipch/
vs2010/molyjam/Debug/
vs2010/molyjam/Release/
vs2010/molyjam/*/Debug/
vs2010/molyjam/*/Release/
*.suo
*.user
*.ncb
*.sbr
*.log
*.opensdf
*.ipch